<h1>{{ currentUsername }} chatting with {{ otherUsername }}</h1>
<a [routerLink]="['/users-page', currentUsername]">Back</a>
<hr />
<div>
  <!--   <div *ngFor="let message of messages">
    <ng-container
      *ngIf="isMessageGameInvite(message); then gameInvite; else textMessage"
    ></ng-container>

    <ng-template #gameInvite>
      <div>
        <h4>
          {{ message.text }}
        </h4>
        <a [routerLink]="['/games/' + message.gameTitle]"> Play</a>
      </div>
    </ng-template>
    <ng-template #textMessage>
      <label>{{ message.senderUsername }}</label>
      <p>{{ message.text }}</p>b 
      <p>{{ message.createdTime | date : "HH:MM" }}</p>
    </ng-template>
    <hr />
  </div> -->

  <div class="messages" *ngFor="let message of chatMessages">
    <div class="message" *ngIf="!isMessageGameInvite(message)">
      <label>{{ message.senderUsername }}</label>
      <p>{{ message.text }}</p>
      <p class="time-stamp">{{ message.createdTime | date : "HH:MM" }}</p>
    </div>
    <div class="message game-invite" *ngIf="isMessageGameInvite(message)">
      <div>
        <h4>{{message.text}}</h4>
      </div>
      <div
        *ngIf="
          currentUsername === message.recipientUsername &&
          message.inviteStatus === null
        "
      >
        <button (click)="submitInviteResponse(message.id, true)">Accept</button>

        <button (click)="submitInviteResponse(message.id, false)">
          Decline
        </button>
      </div>
      <p class="time-stamp">{{ message.createdTime | date : "HH:MM" }}</p>
    </div>
  </div>

  <div id="message-bar">
    <form id="message-from">
      <input
        id="message-text-input"
        name="message-text-input"
        type="text"
        class="form-control"
        required
        minlength="1"
        maxlength="26"
        [(ngModel)]="text"
        #name="ngModel"
        placeholder="Write something..."
      />
      <button id="send-invite-btn" (click)="openGameSelection()">🚀</button>
      <button
        id="send-message-btn"
        [disabled]="text === ''"
        (click)="sendMessage()"
      >
        Send
      </button>
    </form>
  </div>
  <div id="game-selection" *ngIf="showGames">
    <div id="games" *ngFor="let game of games">
      <div class="game-option">
        <figure
          class="game-link"
          (click)="sendInvite(game.id!, game.title, game.link)"
        >
          <img src="{{ game.imageURL }}" alt="{{ game.title }}" />
          <figcaption>{{ game.title }}</figcaption>
        </figure>
      </div>
    </div>
  </div>
</div>
