<div>
  <h1>Welcome to chat and play!</h1>

  <div>
    <form>
      <table>
        <tr>
          <td><label id="name" for="name">Name</label></td>
          <td>
            <input
              id="name"
              name="name"
              type="text"
              class="form-control"
              required
              minlength="1"
              maxlength="26"
              [(ngModel)]="user.username"
              #name="ngModel"
            />
          </td>
        </tr>
        <tr>
          <td><label id="password" for="password">Password</label></td>
          <td>
            <input
              id="password"
              name="password"
              class="form-control"
              required
              minlength="1"
              rows="4"
              [(ngModel)]="user.password"
              #description="ngModel"
            />
          </td>
        </tr>
      </table>
      <button (click)="authenticateUser(user)">LOG IN</button>
    </form>
    <button>SIGN UP</button>
  </div>
  <a [routerLink]="['/users-page']">Users-page</a>
</div>
