<div>
  <h1>Welcome to chat and play!</h1>

  <div>
    <form>
      <table>
        <tr>
          <td><label id="name" for="name">Name</label></td>
          <td><input id="name" name="name" /></td>
        </tr>
        <tr>
          <td><label id="password" for="password">Password</label></td>
          <td><input id="password" name="password" /></td>
        </tr>
      </table>
      <a [routerLink]="['/users-page']">Users-page</a>
    </form>
    <br />
    <button>Sign up</button>
    <button>Log in</button>
  </div>
</div>
