<table id="users-list">
  <tr>
    <th>Username</th>
    <th>Online Status</th>
  </tr>
  <tr *ngFor="let user of onlineUsers">
    <td>
      <a
        [routerLink]="['/chatroom']"
        [queryParams]="{
          currentUsername: username,
          otherUsername: user.username
        }"
        >{{ user.username }}</a
      >
    </td>
    <td id="online">Online</td>
  </tr>
  <tr *ngFor="let user of offlineUsers">
    <td>
      {{ user.username }}
    </td>
    <td id="offline">Offline</td>
  </tr>
</table>
