<div>
  <h1>Welcome to chat and play!</h1>

  <div>
    <form>
      <table>
        <tr>
          <td><label id="name" for="name">Name</label></td>
          <td>
            <input
              id="name"
              name="name"
              type="text"
              class="form-control"
              required
              minlength="1"
              maxlength="26"
              [(ngModel)]="username"
              #name="ngModel"
            />
          </td>
        </tr>
        <tr>
          <td><label id="password" for="password">Password</label></td>
          <td>
            <input
              id="password"
              name="password"
              class="form-control"
              type="password"
              required
              minlength="1"
              rows="4"
              [(ngModel)]="password"
              #description="ngModel"
            />
          </td>
        </tr>
      </table>
      <button
        (click)="authenticateUser()"
        [disabled]="username === '' || password === ''"
      >
        LOG IN
      </button>
    </form>
    <a [routerLink]="['/sign-up']"><button>SIGN UP</button></a>
  </div>
</div>
